{% if project_info %}
    {% for project in project_info %}
<div id="column-2" style="margin-top: 0.2em">
	<div id="namePage" style="border: 3px solid #eee; background-color: #555">Подробнее</div>
	<div id="nameProject" style="color: black; font-size: 26px">{{project.title}}</div><hr></hr>
	<div style="color: black; float: left; margin-left: 10%; width: 100%">{{project.curator}}</div>
	<div style="color: black; float: left; margin-left: 10%; width: 100%; margin-top: 1em">Студенты: <a href="#">показать</a></div>
	<div id="namePage" style="color: gray">Описание</div>
	<div style="color: black; float: left; margin-left: 10%; width: 80%">{{project.description}}</div>
	<div style="color: black; position: absolute; float: left; margin-left: 10%; width: 100%; margin-bottom: 1em; bottom: 0">Срок сдачи: {{project.deadline}}</div>
</div>
    {% endfor %}
{% endif %}