<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% load staticfiles %}

	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		function call_counter(id) {
			{% for cats in todo2 %}
			$( "#{{ cats.id }}" ).hide();
				if("{{ cats.id }}" == id) {
			$("#col-sm").replaceWith(
				$( "#{{ cats.id }}" ).show()); }{% endfor %};
            }
	</script>
	<title>Интернет Городок</title>
</head>
<body>
	{% if user.is_authenticated %}
	<div class="row">
		{% block tasks %}

		{% endblock %}
		{% block information %}

		{% endblock %}
		{% block chat %}
		{% endblock %}
	</div>
    {% else %}
      <a href="/login">Вход</a>
    {% endif %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>