{% extends "project/__base.html" %}

{% block tasks %}
	{% include "project/tasks.html" %}
{% endblock %}
{% block information %}
	{% for list in info %}
	<div id="column-2" style="margin-top: 0.2em">
		<div id="namePage" style="border: 3px solid #eee; background-color: #555">Подробнее</div>
		<div id="nameProject" style="color: black; font-size: 26px">{{ list.title }}</div><hr></hr>
		<div style="color: black; float: left; margin-left: 10%; width: 100%">Ответственный:{{ list.student }} </div>
		<div style="color: black; float: left; margin-left: 10%; width: 100%; margin-top: 1em">Важность: {{ importance|get_item:list.importance_type }} </a></div>
		<div id="namePage" style="color: gray">Описание</div>
		<div style="color: black; float: left; margin-left: 10%; width: 80%">{{ list.description }}</div>
		<div style="color: black; position: absolute; float: left; margin-left: 10%; width: 100%; margin-bottom: 1em; bottom: 0">Статус: {{ status|get_item:list.status_type }}
		</div>
	</div>
	{% endfor %}
{% endblock %}
{% block chat %}
	{% include "project/chat.py" %}
{% endblock %}

