{% block tasks %}
<div class="col-sm-3 ">
    <div style="height: 4em; background-color: #555; color: white"><p
            style="text-align: center; font-size: 24px; padding-top: 0.5em">Задачи</div>
    <div class="list-group-item" style="height:90vh">
        <ul class="list-group">
        {% for list in todo %}
            {% for cats in list|slice:"0:1" %}
            <li class="list-group-item"><h4>{{ cats.category }}</h4>
                    <ul>
                        {% for cat in list %}
                        <a>
                            <li onclick="call_counter({{cat.id}})">{{ cat.title }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </li><br>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
